.contact_section {
    max-width: 1000px;
    margin: 0 auto;
  }
  .contact_section h1 {
    font-size: 48px;
    font-weight: 800;
    max-width: 80%;
  }
  .contact_section p {
    font-weight: 500;
    margin: 34px;
  }

@media (max-width: 768px) {
    .contact_section h1 {
        font-size: 36px;
        max-width: 90%;
        margin: 27px;
    }

    .contact_section p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .contact_section h1 {
        font-size: 28px;
        max-width: 100%;
    }

    .contact_section p {
        font-size: 12px;
        padding: 0 10px;
    }
}
